In [13]:
import pandas as pd
penguins=pd.read_csv('/Users/jenniferhubert/DSSA Spring 2023/Machine Learning/penguins.csv') # import data
print(penguins)

    studyName  SampleNumber                              Species  Region  \
0     PAL0708             1  Adelie Penguin (Pygoscelis adeliae)  Anvers
1     PAL0708             2  Adelie Penguin (Pygoscelis adeliae)  Anvers
2     PAL0708             3  Adelie Penguin (Pygoscelis adeliae)  Anvers
3     PAL0708             4  Adelie Penguin (Pygoscelis adeliae)  Anvers
4     PAL0708             5  Adelie Penguin (Pygoscelis adeliae)  Anvers
..        ...           ...                                  ...     ...
339   PAL0910           120    Gentoo penguin (Pygoscelis papua)  Anvers
340   PAL0910           121    Gentoo penguin (Pygoscelis papua)  Anvers
341   PAL0910           122    Gentoo penguin (Pygoscelis papua)  Anvers
342   PAL0910           123    Gentoo penguin (Pygoscelis papua)  Anvers
343   PAL0910           124    Gentoo penguin (Pygoscelis papua)  Anvers

        Island               Stage IndividualID ClutchCompletion   DateEgg  \
0    Torgersen  Adult, 1 Egg Stage         N1A1              Yes  11/11/07
1    Torgersen  Adult, 1 Egg Stage         N1A2              Yes  11/11/07
2    Torgersen  Adult, 1 Egg Stage         N2A1              Yes  11/16/07
3    Torgersen  Adult, 1 Egg Stage         N2A2              Yes  11/16/07
4    Torgersen  Adult, 1 Egg Stage         N3A1              Yes  11/16/07
..         ...                 ...          ...              ...       ...
339     Biscoe  Adult, 1 Egg Stage        N38A2               No   12/1/09
340     Biscoe  Adult, 1 Egg Stage        N39A1              Yes  11/22/09
341     Biscoe  Adult, 1 Egg Stage        N39A2              Yes  11/22/09
342     Biscoe  Adult, 1 Egg Stage        N43A1              Yes  11/22/09
343     Biscoe  Adult, 1 Egg Stage        N43A2              Yes  11/22/09

     CulmenLength_mm  CulmenDepth_mm  FlipperLength_mm  BodyMass_g     Sex  \
0               39.1            18.7             181.0      3750.0    MALE
1               39.5            17.4             186.0      3800.0  FEMALE
2               40.3            18.0             195.0      3250.0  FEMALE
3                NaN             NaN               NaN         NaN     NaN
4               36.7            19.3             193.0      3450.0  FEMALE
..               ...             ...               ...         ...     ...
339              NaN             NaN               NaN         NaN     NaN
340             46.8            14.3             215.0      4850.0  FEMALE
341             50.4            15.7             222.0      5750.0    MALE
342             45.2            14.8             212.0      5200.0  FEMALE
343             49.9            16.1             213.0      5400.0    MALE

     Delta15N  Delta13C                        Comments
0         NaN       NaN  Not enough blood for isotopes.
1     8.94956 -24.69454                             NaN
2     8.36821 -25.33302                             NaN
3         NaN       NaN              Adult not sampled.
4     8.76651 -25.32426                             NaN
..        ...       ...                             ...
339       NaN       NaN                             NaN
340   8.41151 -26.13832                             NaN
341   8.30166 -26.04117                             NaN
342   8.24246 -26.11969                             NaN
343   8.36390 -26.15531                             NaN

[344 rows x 17 columns]

In [14]:
penguins.Species.value_counts()

Adelie Penguin (Pygoscelis adeliae)          152
Gentoo penguin (Pygoscelis papua)            124
Chinstrap penguin (Pygoscelis antarctica)     68
Name: Species, dtype: int64

In [5]:
penguins = penguins[(penguins.Sex != ".")]
df=penguins[['CulmenLength_mm', 'CulmenDepth_mm', 'FlipperLength_mm', 'BodyMass_g', 'Sex']]
df=df.dropna()
df

     CulmenLength_mm  CulmenDepth_mm  FlipperLength_mm  BodyMass_g     Sex
0               39.1            18.7             181.0      3750.0    MALE
1               39.5            17.4             186.0      3800.0  FEMALE
2               40.3            18.0             195.0      3250.0  FEMALE
4               36.7            19.3             193.0      3450.0  FEMALE
5               39.3            20.6             190.0      3650.0    MALE
..               ...             ...               ...         ...     ...
338             47.2            13.7             214.0      4925.0  FEMALE
340             46.8            14.3             215.0      4850.0  FEMALE
341             50.4            15.7             222.0      5750.0    MALE
342             45.2            14.8             212.0      5200.0  FEMALE
343             49.9            16.1             213.0      5400.0    MALE

[333 rows x 5 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['Sex'])
df['Sex'] = encoder.transform(df['Sex'])
df

     CulmenLength_mm  CulmenDepth_mm  FlipperLength_mm  BodyMass_g  Sex
0               39.1            18.7             181.0      3750.0    1
1               39.5            17.4             186.0      3800.0    0
2               40.3            18.0             195.0      3250.0    0
4               36.7            19.3             193.0      3450.0    0
5               39.3            20.6             190.0      3650.0    1
..               ...             ...               ...         ...  ...
338             47.2            13.7             214.0      4925.0    0
340             46.8            14.3             215.0      4850.0    0
341             50.4            15.7             222.0      5750.0    1
342             45.2            14.8             212.0      5200.0    0
343             49.9            16.1             213.0      5400.0    1

[333 rows x 5 columns]

In [9]:
df.corr(method='kendall')

,CulmenLength_mm,CulmenDepth_mm,FlipperLength_mm,BodyMass_g,Sex
CulmenLength_mm,1.000000,-0.118240,0.481989,0.427760,0.291070
CulmenDepth_mm,-0.118240,1.000000,-0.277464,-0.192372,0.315852
FlipperLength_mm,0.481989,-0.277464,1.000000,0.661460,0.223130
BodyMass_g,0.427760,-0.192372,0.661460,1.000000,0.359280
Sex,0.291070,0.315852,0.223130,0.359280,1.000000

In [10]:
df.corr(method='spearman')

,CulmenLength_mm,CulmenDepth_mm,FlipperLength_mm,BodyMass_g,Sex
CulmenLength_mm,1.000000,-0.213859,0.669754,0.576480,0.355034
CulmenDepth_mm,-0.213859,1.000000,-0.517317,-0.429283,0.383489
FlipperLength_mm,0.669754,-0.517317,1.000000,0.840390,0.269617
BodyMass_g,0.576480,-0.429283,0.840390,1.000000,0.436536
Sex,0.355034,0.383489,0.269617,0.436536,1.000000

In [12]:
df.corr(method='spearman')

,CulmenLength_mm,CulmenDepth_mm,FlipperLength_mm,BodyMass_g,Sex
CulmenLength_mm,1.000000,-0.213859,0.669754,0.576480,0.355034
CulmenDepth_mm,-0.213859,1.000000,-0.517317,-0.429283,0.383489
FlipperLength_mm,0.669754,-0.517317,1.000000,0.840390,0.269617
BodyMass_g,0.576480,-0.429283,0.840390,1.000000,0.436536
Sex,0.355034,0.383489,0.269617,0.436536,1.000000